#POSTGRES
POSTGRES_DB = "sentinel_db"
POSTGRES_USER = "sentinel"
POSTGRES_PASSWORD = mysecretpassword
POSTGRES_DSN = "postgresql://sentinel:mysecretpassword@localhost:5432/sentinel_db"

#KAFKA
# for internal docker network comms
KAFKA_BOOTSTRAP_SERVERS_INTERNAL =redpanda:9092
# for external comms and debugging
KAFKA_BOOTSTRAP_SERVERS_EXTERNAL =localhost:19092
